# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# MacOS
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Logs
*.log

# IDEs
.idea/
.vscode/

# Misc
*.lock
*.tmp
.DS_Store
